@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
	color: #222;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.home_title {
	animation: reveal 1s linear;
}

.about {
	animation: reveal 1s linear;
}

.navigationTabs {
	animation: reveal 1s linear;
}

img.profile {
	animation: reveal 1.3s linear;
	transition: filter 0.2s;
}
img.profile:hover {
	filter: blur(5px);
}

.copy_message {
	position: absolute;
	margin-top: 30px;
	color: #222;
	font-size: 1rem;
	visibility: hidden;
}

@keyframes reveal {
	from {
		opacity: 0;
		transform: translateY(200px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
