@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
	color: #222;
}

.home_title {
	animation: reveal 1s linear;
}

img.profile {
	animation: reveal 1.3s linear;
	transition: filter 0.2s;
}
img.profile:hover {
	filter: blur(5px);
}
.icon {
	width: 40px;
	height: 40px;
}

@keyframes reveal {
	from {
		opacity: 0;
		transform: translateY(200px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
